@import
'_reset.scss',
'_header',
'_footer';
body{
	font: 17px/24px 'Roboto', sans-serif;
	color: #333;
}
input{
	&:focus::-webkit-input-placeholder {color: transparent}
	&:focus::-moz-placeholder          {color: transparent}
	&:focus:-moz-placeholder           {color: transparent}
	&:focus:-ms-input-placeholder      {color: transparent}
}
p{
	margin: 0;
	padding-bottom: 24px;
}
h1,.title{
	font:43px/44px Georgia, Georgia, serif ;
	margin: 0;
	color: #284eb0;
	padding-bottom: 24px;
	a{
		color: #284eb0;
	}
}
.title{
	color: #284eb0;
	a{
		color: #000;
		&:hover{
			color: #284eb0;
		}
	}
}
#wrapper{
	width: 100%;
	overflow: hidden;
	.center{
		width: 100%;
		max-width: 1170px;
		margin: 0 auto;
		padding: 0 15px;
	}
}

#main{
	padding: 40px 0;
	@media (max-width: 960px){
		padding-bottom: 0;
	}
}
.holder-list-post{
	margin: 0 -15px;
	display: flex;
	flex-flow:row wrap;
	&.in-top{
		.post{
			width: 50%;
			@media (max-width: 730px){
				width: 100% !important;
			}
			.footer-post{
				@media screen and (min-width: 730px) and (max-width: 968px){
					display: flex !important;
					text-align: left !important;
					.read-more{
						order:0 !important;
					}
					.soc{
						order:1 !important;
						padding-left: 40px !important;
					}
					.soc{
						padding-bottom: 0 !important;
					}
				}
			}
			&.big{
				width: 100% !important;

			}
			@media screen and (min-width: 730px) and (max-width: 968px){
				.title{
					font-size: 25px !important;
					line-height: 30px !important;
				}
			}
		}
	}
}
.banner img{
	display: block;
	width: 100%;
	height: auto;
}
.container{
	display: flex;
	flex-flow:row nowrap;
	align-items:flex-start;
	margin: 0 -15px;
	@media (max-width: 960px){
		flex-flow:row wrap;
		.content,.sidebar{
			width: 100% !important;
		}
	}
	.content{
		width: 66.67%;
		padding: 0 15px;
	}
	.sidebar{
		width: 33.33%;
		padding: 0 15px 30px;
		.banner{
			padding-top: 50px;
			text-align: center;
			img{
				max-width: 100% !important;
				width: auto !important;
				display: inline-block;
			}
		}
		.popular{
			@media (max-width: 550px){
				padding-top: 20px;
			}
			h2{
				text-align: left;
				padding-bottom: 30px;
				@media (max-width: 960px){
					text-align: center;
				}
			}
			.holder-carousel,.holder-popular{
				padding: 0;
				font-size: 0;
			}
			.holder-popular{
				@media (max-width: 960px){
					margin: 0 -10px;
					@media (max-width: 600px){
						margin: 0 !important;
					}
				}
			}
			.item{
				padding-bottom: 30px;
				@media (max-width: 960px){
					width: 33.33%;
					display: inline-block;
					vertical-align: top;
					padding-left: 10px;
					padding-right: 10px;
				}
				@media (max-width: 600px){
					padding-left: 0 !important;
					padding-right: 0 !important;
					width: 100% !important;
				}
				strong{
					padding-top: 10px;
				}
			}
		}
	}
}
// .btn-mob-tags{
// 	@media (min-width: 961px){
// 		display: none;
// 	}
// 	display: block;
// 	width: 40px;
// 	height: 39px;
// 	border: 1px solid #467be4;
// 	border-radius: 3px;
// 	margin-left: 10px;
// 	padding: 8px;
// 	cursor: pointer;
// 	position: relative;
// 	z-index: 2;
// 	&.active{
// 		border-color: #efcbd3;
// 		span{
// 			background: #efcbd3;
// 		}
// 	}
// 	span{
// 		display: block;
// 		width: 100%;
// 		height: 3px;
// 		border-radius: 2px;
// 		background: #467be4;
// 		&+span{
// 			margin-top: 6px;
// 		}
// 	}
// }
.tags{
	margin-top: -24px;
	margin-left: -15px;
	background: #fff;
	border-radius: 23px;
	position: relative;
	z-index: 5;
	display: table;
	box-shadow: 0 5px 21px 0px rgba(#0f1111,.2);
	@media (max-width: 1150px){
		margin-left: 0;
		ul{
			li{
				padding: 0 13px !important;
				a{
					font-size: 15px !important;
				}
			}
		}
	}
	@media (max-width: 960px){
		display: block;
		// padding: 10px;
		border-radius: 15px;
		text-align: center;
		ul{
			li{
				padding: 0 10px !important;
				&:before{content: none !important;}
			}
		}
	}
	ul{
		margin: 0;
		padding: 11px 13px;
		list-style: none;
		display: inline-block;
		font-size: 0;
		text-align: center;
		@media (min-width: 961px){
			display: inline-block !important;
		}
		
		li{
			display: inline-block;
			vertical-align: middle;
			padding: 0 20px;
			position: relative;
			&.active{
				a{
					color: #efcbd3 !important;
				}
			}
			&:before{
				content: '';
				width: 1px;
				height: 18px;
				background: #e7e9eb;
				position: absolute;
				top: 1px;
				left: 0;
			}
			&:first-child:before{content: none;}
			a{
				color: #284eb0;
				font-size: 18px;
				line-height: 20px;
				display: block;
				&:hover{
					text-decoration: none;
					color: #efcbd3;
				}
			}
		}
		// @media (max-width: 960px){
		// 	display: none;
		// 	text-align: left;
		// 	padding: 0;
		// 	border-top: 1px solid #efcbd3;
		// 	margin-top: 10px;
		// 	li{
		// 		display: block !important;
		// 		padding: 0 !important;
		// 		&:before{
		// 			content: none !important;
		// 		}
		// 		a{
		// 			padding: 10px;
		// 			font-size: 18px !important;
		// 			line-height: 20px !important;
		// 			&:hover{
		// 				color: #fff !important;
		// 				background: #efcbd3;
		// 				text-decoration: none;
		// 			}
		// 		}
		// 		&.active{
		// 			a{
		// 				background: #efcbd3 !important;
		// 				color: #fff !important;
		// 			}
		// 		}
		// 	}
		// }
	}
}
.button{
	display: inline-block;
	vertical-align: middle;
	background: #5a7add;
	border-radius: 17px;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 18px;
	padding: 9px 15px 9px;
	min-width: 169px;
	text-align: center;
	border: 0;
	cursor: pointer;
	margin: 0;
	&:hover{
		text-decoration: none;
		opacity: .7;
	}
}
.post{
	&.big{
		width: 100% !important;
		.footer-post{
			@media screen and (min-width: 730px) and (max-width: 968px){
				display: flex !important;
				text-align: left !important;
				.read-more{
					order:0 !important;
				}
				.soc{
					order:1 !important;
					padding-left: 40px !important;
				}
				.soc{
					padding-bottom: 0 !important;
				}
			}
		}
	}
	padding: 0 15px 50px;
	width: 33.33%;
	display: flex;
	flex-flow:column nowrap;
	@media (max-width: 960px){
		.title{
			font-size: 20px;
			line-height: 22px;
			padding-bottom: 10px;
		}
		.data-post{
			padding-top: 10px !important;
			padding-bottom: 5px !important;
		}
		p{
			font-size: 15px;
			line-height: 19px;
		}
	}
	@media (max-width: 730px){
		width: 100%;
		&.banner{
			display: table;
			margin: 0 auto;
			width: auto;
			img{
				max-width: 100% !important;
				width: auto !important;
			}
		}
		.title{
			font-size: 25px;
			line-height: 28px;
			padding-bottom: 15px;
		}
		.data-post{
			padding-top: 15px !important;
			padding-bottom: 10px !important;
		}
		p{
			font-size: 17px;
			line-height: 20px;
		}
	}
	.footer-post{
		margin-top: auto;
	}
	.prev-post{
		a{
			position: relative;
			display: block;
			&:after{
				content: '';
				width: auto;
				height: auto;
				display: block;
				position: absolute;
				top: 12px;
				bottom: 12px;
				left: 12px;
				right: 12px;
				border: 4px solid #fff;
				box-sizing: border-box;
				opacity: 0;
				transition: all 0.3s ease;
			}
			&:hover:after{
				opacity: 1;
			}
		}
		img{
			display: block;
			width: 100%;
			height: auto;
		}
	}
	.data-post{
		display: block;
		color: #b9c7d5;
		font-size: 12px;
		line-height: 14px;
		font-style: normal;
		padding: 28px 0 17px 6px;
	}
}
.footer-post{
	display: flex;
	flex-flow:row wrap;
	justify-content:flex-start;
	align-items:center;
	@media screen and (min-width: 730px) and (max-width: 968px){
		display: block;
		text-align: center !important;
		.read-more,.soc{
			order:1 !important;
		}
		.soc{
			padding-left: 0 !important;
			padding-bottom: 20px;
		}
		.read-more{
			display: block;
		}
	}
	.read-more{
		order:0;
	}
	.soc{
		order:1;
		padding-left: 40px;
	}
	img{
		display: inline-block;
		vertical-align: middle;
	}
}
.form-search{
	background: #f7f7f7;
	padding: 30px 23px;
	margin-bottom: 3px;
	.field-bg{
		background: #fff;
		border-radius: 15px;
		height: 40px;
		padding: 0 43px 0 20px;
		position: relative;
		input{
			margin: 0;
			padding: 9px 0 9px;
			display: block;
			width: 100%;
			font-size: 16px;
			color: #333;
			border: 0;
			outline: none;
		}
		button{
			position: absolute;
			top: 0;
			right: 12px;
			width: 30px;
			height: 40px;
			font-size: 0;
			line-height: 0;
			text-indent: -9999px;
			cursor: pointer;
			margin: 0;
			padding: 0;
			border: 0;
			background: url(../images/search.png) no-repeat 50% 50%;
		}
	}
}
.form-1{
	padding: 30px 22px 116px;
	background: #f7f7f7 url(../images/bg1.png) no-repeat 100% 100%;
	overflow: hidden;
	text-align: center;
	@media (max-width: 960px){
		padding-bottom: 30px;
		background: #f7f7f7;
		.button{
			margin-top: 10px !important;
		}
	}
	h3{
		margin: 0;
		font-size: 22px;
		line-height: 26px;
		font-weight: 500;
		padding-bottom: 30px;
	}
	.button{
		margin-top: 32px;
	}
	.row{
		padding-bottom: 16px;
		label{
			display: block;
			color: rgba(#333,.5);
			font-size: 16px;
			line-height: 18px;
			padding: 0 0 0 7px;
			text-align: left;
		}
		input{
			margin: 12px 0 0 0;
			padding: 10px 15px;
			display: block;
			width: 100%;
			font-size: 16px;
			color: #333;
			border: 0;
			outline: none;
			border-radius: 15px;
			background: #fff;
		}
	}
}
.nav-links{
	text-align: center;
	font-size: 0;
	padding-top: 20px;
	@media (max-width: 960px){
		padding-bottom: 30px;
	}
	.meta-nav{
		display: none;
	}
	.page-numbers{
		display: inline-block;
		vertical-align: middle;
	}
	.page-numbers{
		font-size: 16px;
		line-height: 44px;
		width: 46px;
		text-align: center;
		margin: 0 4px;
		color: #333;
		// border: 1px solid #fff;
		&.current{
			border: 1px solid #ebabba;
			color: #ebabba;
		}
		&.dots:hover{
			color: #333;
		}
		&:hover{
			color: #ebabba;
			text-decoration: none;
			// border: 1px solid #ebabba;
		}
	}
	.prev,.next{
		width: auto;
		font-size: 0;
		line-height: 0;
		text-indent: -9999px;
		width: 53px;
		height: 13px;
	}
	.next{
		background: url(../images/next.png) no-repeat;
	}
	.prev{
		background: url(../images/prev.png) no-repeat;
	}
	span.prev,span.next{
		opacity: .2;
	}
	@media (max-width: 460px){
		.page-numbers{
			font-size: 13px;
			line-height: 30px;
			width: 30px;
			text-align: center;
			margin: 0 2px;
		}
		.prev,.next{
			width: 20px;
			background-size: cover !important;
		}
		.next{
			background-position: 100% 0 !important;
		}
	}
}
.popular{
	padding-top: 40px;
	@media (max-width: 550px){
		padding-top: 0;
	}
	h2{
		text-align: center;
		color: #405eb5;
		margin: 0;
		font:30px/33px Georgia, Georgia, serif;
		padding-bottom: 40px;
	}
}
.holder-carousel{
	padding: 0 60px 80px;
	@media (max-width: 999px){
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	@media (max-width: 550px){
		padding-bottom: 40px;
	}
}
.item{
	width: 100%;
	a{
		display: block;
		span{
			display: block;
			position: relative;
			&:after{
				content: '';
				width: auto;
				height: auto;
				display: block;
				position: absolute;
				top: 12px;
				bottom: 12px;
				left: 12px;
				right: 12px;
				border: 4px solid #fff;
				box-sizing: border-box;
				opacity: 0;
				transition: all 0.3s ease;
			}
			img{
				width: 100% !important;
				display: block;
				height: auto;
			}
		}
		&:hover{
			text-decoration: none;
			span:after{
				opacity: 1;
			}
			strong{
				color: #5a7add;
			}
		}
		strong{
			display: block;
			font-size: 18px;
			line-height: 22px;
			color: #284eb0;
			font-weight: normal;
			padding-top: 16px;
		}
	}
}
.owl-nav{
	.owl-prev,.owl-next{
		position: absolute;
		top: 0;
		left: -60px;
		width: 60px;
		height: 100%;
		background: #000;
		font-size: 0 !important;
		line-height: 0 !important;
		text-indent: -9999px !important;
		margin: 0 !important;
		border-radius: 0 !important;
		background: url(../images/owl-prev.png) no-repeat 50% 20% !important;
	}
	.owl-next{
		left: auto;
		right: -60px;
		background: url(../images/owl-next.png) no-repeat 50% 20% !important;
	}
}
.owl-theme .owl-dots .owl-dot span{
	width: 15px !important;
	height: 15px !important;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span{
	background:#efcbd3 !important;
}
// inner
.post-content{
	padding-left: 0 !important;
	padding-right: 0 !important;
	display: block !important;
	padding-bottom: 30px !important;
	width: 100% !important;
	h2{
		color: #284eb0;
	}
	h1,h2,h3{
		-moz-hyphens: auto;
		-webkit-hyphens: auto;
		-ms-hyphens: auto;
	}
	.title{
		font:43px/44px Georgia, Georgia, serif !important;
		@media (max-width: 550px){
			font-size: 35px !important;
			line-height: 40px !important;
		}
	}
	.data-post{
		padding-top: 30px !important;
		padding-bottom: 17px !important;
	}
	p{
		font: 17px/24px 'Roboto', sans-serif !important;
		a{
			text-decoration: underline;
			&:hover{
				text-decoration: none;
			}
		}
		strong{
			color: #284eb0;
		}
	}
	img{
		max-width: 100%;
		display: block;
		height: auto;
	}
	h2{
		margin: 0;
		font-size: 24px;
		line-height: 30px;
		color: #000;
		padding: 20px 0;
	}
	ul{
		margin: 0;
		padding: 10px 0;
		list-style: none;
		strong{
			color: #284eb0;
		}
		li{
			padding-left: 20px;
			position: relative;
			font-size: 17px;
			line-height: 24px;
			padding-bottom: 15px;
			&:before{
				content: '';
				width: 9px;
				height: 9px;
				border-radius: 50%;
				background: #e5cad2;
				display: block;
				position: absolute;
				top: 8px;
				left: 0;
			}
		}
	}
}
.soc-in-post{
	border-radius: 20px;
	text-align: center;
	display: block;
	width: 100%;
	padding: 0 15px;
	box-shadow: 0 5px 21px 0px rgba(#0f1111,.2);
	span,.soc,.soc img{
		display: inline-block;
		vertical-align: middle;
	}
	span,.soc{
		padding: 11px 18px;
	}
	span{
		color: #284eb0;
		font-size: 18px;
		line-height: 22px;
	}
}
.form-2{
	margin-top: 53px;
	background: #f7f7f7;
	padding: 33px 54px 20px;
	margin-bottom: 50px;
	@media (max-width: 800px){
		padding: 33px 15px 20px;
	}
	h3{
		text-align: center;
		font-weight: 500;
		font-size: 21px;
		line-height: 23px;
		margin: 0;
		padding-bottom: 27px;
	}
	.row{
		display: flex;
		flex-flow:row nowrap;
		align-items:flex-end;
		width: 100%;
		@media (max-width: 960px){
			.button{
				width: 100% !important;
			}
		}
		@media (max-width: 560px){
			display: block !important;
			text-align: center;
			label{
				text-align: left;
			}
			.button{
				width: auto !important;
			}
		}
	}
	label{
		display: block;
		color: #b1b6be;
		font-size: 14px;
		line-height: 16px;
		padding: 0 0 8px 3px;
	}
	.column{
		padding: 0 7px 20px;
		flex-grow:1;
	}
	input{
		margin: 0;
		padding: 0 15px;
		border: 0;
		height: 35px;
		border-radius: 15px;
		width: 100%;
		outline: none;
	}
}